@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Đăng nhập</title>
    
    
</head>
<body>
    <div class="blue-rectangle"></div>
    <style>
        .blue-rectangle {
            width: 1512px; 
            height: 80px; 
            background-color: green; /* Màu nền của hình chữ nhật */
        }
    </style>
    mVolunteer
    <h1>
        <img src="https://i.pinimg.com/564x/a1/ee/3c/a1ee3c1da870638d388c629dd8ef1ba7.jpg" , alt="ảnh đại diện" , width="50" , height="50" />
        
    </h1> 
   
</body>
</html>
