@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Đăng nhập</title>
    
    
</head>
<body>
    <div class="blue-rectangle"></div>
    <style>
        .blue-rectangle {
            position: absolute;
            top: -2px;
            left: 0px;
            width: 1440px; 
            height: 80px; 
            background-color: dodgerblue;
        }
    </style>   
    <div class="logo">       
        <img src="https://i.pinimg.com/564x/a1/ee/3c/a1ee3c1da870638d388c629dd8ef1ba7.jpg" , alt="ảnh đại diện" , width="92px" , height="98px" />     
    </div>
    <style>
        .logo{
            position: absolute;
            top: 84px;
            left: 40px;
        }

    </style>
    <h1>
        mVonlunteer
        position: absolute;
        top: 84px;
        left: 40px;
    </h1>

   
</body>
</html>
