@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Trang chủ</title> 
    <link href='https://fonts.googleapis.com/css?family=Baloo' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Jockey One' rel='stylesheet'>
</head>

<body>
    <div class="blue-rectangle1"></div>
    <div class="xinchao">XIN CHÀO</div>
    <div class="dangky">Đăng ký</div>
    <div class="dangnhap">Đăng nhập</div>

    <div class="background">
        <img src="https://img.pikbest.com/png-images/20211009/group-of-young-volunteers-collecting-trash-on-ocean-beach_6138859.png!bw700" , alt="ảnh nền" , width="1587px" , height="812px" />
    </div>

    <div class="blue-rectangle2"></div>
    <div class="logo">
        <img src="https://i.pinimg.com/564x/a1/ee/3c/a1ee3c1da870638d388c629dd8ef1ba7.jpg" , alt="ảnh đại diện" , width="92px" , height="98px" />
    </div>
    <div class="ten"> mVolunteer</div>
    <div class="trangchu">Trang chủ</div>
    <div class="gioithieu">Giới thiệu </div>
    <div class="thongdiep">Tình nguyện vì cộng đồng</div>
    
    <style>
        /*Tạo rectangle đầu tiên*/
        .blue-rectangle1
        {
            position: absolute;
            top: -2px;
            left: 0px;
            width: 1440px;
            height: 80px;
            background-color: #0358B2;
        }
        .xinchao
        {
            position: absolute;
            top: 3px;
            left: 40px;
            padding-top: 20px;
            width: 181px;
            height: 77px;
            color: #FFFFFF;
            font-family: Inknut Antiqua, Regular;
            font-size: 30px;
        }

        .dangky 
        {
            position: absolute;
            top: 22px;
            left: 1051px;
            padding-top: 0px;
            width: 116px;
            height: 36px;
            color: #FFFFFF;
            font-family: Inter, Regular;
            font-size: 26px;
        }
        .dangnhap
        {
            position: absolute;
            top: 22px;
            left: 1253px;
            padding-top: 0px;
            width: 154px;
            height: 36px;
            color: #FFFFFF;
            font-family: Inter, Regular;
            font-size: 26px;
            
        }
        /*Tạo background*/
        .background 
        {
            position: absolute;
            top: 182px;
            left: -44px;
            width: 1484px;
            height: 812px;
            background-position: center;
            background-size: cover;
            overflow: hidden;
            opacity: 0.3;
        }
        /*Rectangle thứ hai*/
        .blue-rectangle2
        {
            position: absolute;
            top: 78px;
            left: 0px;
            width: 1440px;
            height: 142px;
            background-color: #A1D5F7;
        }

        

        .logo {
            position: absolute;
            top: 86px;
            left: 60px;
        }

        .ten {
            position: absolute;
            top: 180px;
            left: 20px;
            font-size: 35px;
            color: #000000;
            font-family: Jockey One,Regular;
        }
        .trangchu {
            position: absolute;
            top: 132px;
            left: 1051px;
            font-size: 30px;
            color: #000000;
            font-weight: normal;
        }

        .gioithieu {
            position: absolute;
            top: 132px;
            left: 1253px;
            font-size: 30px;
            color: #000000;
            font-weight: normal;
        }
        .thongdiep
        {
            position: absolute;
            top: 587px;
            left: 192px;
            width: 1043;
            height: 142;
            font-family: 'Baloo';
            font-size: 90px;
            color: #021E47;
            font-weight: normal;
        }
        
    </style>
</body>
