@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Trang chủ tổ chức</title>
        <link href='https://fonts.googleapis.com/css?family=Baloo' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Jockey One' rel='stylesheet'>
    </head>
    <body>
    

    <div class="background">
        <img src="https://img.pikbest.com/png-images/20211009/group-of-young-volunteers-collecting-trash-on-ocean-beach_6138859.png!bw700" , alt="ảnh nền" , width="1587px" , height="812px" />
    </div>

    <div class="blue-rectangle2"></div>
    <div class="logo">
        <img src="https://i.pinimg.com/564x/a1/ee/3c/a1ee3c1da870638d388c629dd8ef1ba7.jpg" , alt="ảnh đại diện" , width="92px" , height="98px" />
    </div>
    <div class="ten"> mVolunteer</div>
    <div class="trangchu">Trang chủ</div>
    <div class="hoatdong">Hoạt động</div>
    <div class="white-rectangle"></div>
    <div class="logotk">
        <img src="https://i.pinimg.com/564x/55/85/8d/55858d6becd90d6742682cb76077c8ef.jpg" , alt="ảnh tìm kiếm" , width="29px" , height="29px" />
    </div>
    <input type="text" class="timkiem" name="TK">
    <div class="white-rectangle1"></div>
    <div class="logocn">
        <img src="https://i.pinimg.com/564x/fe/94/01/fe9401b82ec1a52d876b76774da990ac.jpg" , alt="ảnh cá nhân" , width="40px" , height="40px" />
    </div>
    <div class="thongdiep">Tổ chức tìm kiếm tình nguyện viên</div>

    <style>
        
        
        /*Tạo background*/
        .background {
            position: absolute;
            top: 100px;
            left: -47px;
            width: 1486px;
            height: 562px;
            background-position: center;
            background-size: cover;
            overflow: hidden;
            opacity: 0.3;
        }
        /*Tạo rectangle đầu tiên*/
        .blue-rectangle2 
        {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 1440px;
            height: 134px;
            background-color: #A1D5F7;
        }



        .logo {
            position: absolute;
            top: 10px;
            left: 52px;
        }

        .ten {
            position: absolute;
            top: 93px;
            left: 20px;
            font-size: 35px;
            color: #000000;
            font-family: Jockey One;
        }

        .trangchu {
            position: absolute;
            top: 52px;
            left: 410px;
            font-size: 30px;
            color: #000000;
            font-weight: normal;
        }

        .hoatdong 
        {
            position: absolute;
            top: 49px;
            left: 629px;
            font-size: 30px;
            color: #000000;
            font-weight: normal;
        }
        .white-rectangle
        {
            position: absolute;
            top: 43px;
            left: 818px;
            width: 425px;
            height: 45px;
            border-radius: 20px;
            background-color: #FFFFFF;
        }
        .logotk
        {
            position: absolute;
            top: 50px;
            left: 832px;
        }
        .timkiem 
        {
            position: absolute;
            top: 48px;
            left: 875px;
            width: 345px;
            height: 31px;
            font-size: 30px;
            color: #000000;
            font-family: Inter;
            border: none;
        }

        .white-rectangle1
        {
            position: absolute;
            top: 41px;
            left: 1295px;
            width: 82px;
            height: 50px;
            border-radius: 20px;
            background-color: #FFFFFF;
            
        }
        .logocn
        {
            position: absolute;
            top: 44px;
            left: 1309px;
        }

        .thongdiep 
        {
            position: absolute;
            top: 731px;
            left: 275px;
            width: 931;
            height: 101;
            font-family: 'Baloo';
            font-size: 60px;
            color: #021E47;
            font-weight: normal;
        }
    </style>
    </body>
</html>
